<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating ad from</title>
</head>
<body>
    <form action="/ad_form/" method="post"></form>
    <label for="title">Title</label><br>
    <input id="title" type="text" name="title"><br>
    <label for="img_url">Image</label><br>
    <input id="img_url" type="url" name="img_url"><br>
    <label for="link">Link</label><br>
    <input id="link" type="url" name="link"><br>
    <label for="advertiser_id">Advertiser ID</label><br>
    <input id="advertiser_id" type="text" name="Advertiser ID"><br>
    <input type="submit" value="Save">
</body>
</html>